force-app/main/default/flows/Report_Fraud.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Change_Owner</name>
        <label>Change Owner</label>
        <locationX>1958</locationX>
        <locationY>5024</locationY>
        <actionName>Case.Change_Owner</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>GoHome</targetReference>
        </connector>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <stringValue>00G4x000001tJWGEA2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>Create_Referral_Case</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Change_Owner_0</name>
        <label>Change Owner</label>
        <locationX>229</locationX>
        <locationY>1391</locationY>
        <actionName>Case.Change_Owner</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Go_to_Home</targetReference>
        </connector>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <stringValue>00G4x000001tJWGEA2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>Create_Case</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Go_to_Home</name>
        <label>Go to Home</label>
        <locationX>50</locationX>
        <locationY>1376</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>destinationName</name>
            <value>
                <stringValue>Home</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>NamedPage</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>GoHome</name>
        <label>Go to Home</label>
        <locationX>2104</locationX>
        <locationY>5021</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>destinationName</name>
            <value>
                <stringValue>home</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>NamedPage</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Account_ID</name>
        <label>Assign Account ID</label>
        <locationX>991</locationX>
        <locationY>968</locationY>
        <assignmentItems>
            <assignToReference>var_AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Person_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Allegations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_ID_0</name>
        <label>Assign Account ID</label>
        <locationX>1258</locationX>
        <locationY>963</locationY>
        <assignmentItems>
            <assignToReference>var_AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Business_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Allegations</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Business</name>
        <choiceText>Business</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Business</stringValue>
        </value>
    </choices>
    <choices>
        <name>Divorced</name>
        <choiceText>Divorced</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Divorced</stringValue>
        </value>
    </choices>
    <choices>
        <name>DriversLicense</name>
        <choiceText>Driver&apos;s License</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Driver&apos;s License</stringValue>
        </value>
    </choices>
    <choices>
        <name>HeadofHousehold</name>
        <choiceText>Head of Household</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Head of Household</stringValue>
        </value>
    </choices>
    <choices>
        <name>IdentityTheft</name>
        <choiceText>Identity Theft</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Identity Theft</stringValue>
        </value>
    </choices>
    <choices>
        <name>ImNotSure</name>
        <choiceText>I&apos;m not sure.</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Individual</name>
        <choiceText>Individual</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Individual</stringValue>
        </value>
    </choices>
    <choices>
        <name>Married</name>
        <choiceText>Married</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Married</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>No_Text</name>
        <choiceText>No, I do not have any additional years to report.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Passport</name>
        <choiceText>Passport</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Passport</stringValue>
        </value>
    </choices>
    <choices>
        <description>I am a potential victim of identity theft and believe I may be at risk for future impact to my tax account. (You should check &quot;potential victim&quot; if you have not experienced identity theft but are at risk due to a lost/stolen purse or wallet, questionable credit card or credit report activity, etc.)</description>
        <name>PotentialVictim</name>
        <choiceText>I am a &lt;b&gt;&lt;u&gt;potential&lt;/u&gt;&lt;/b&gt; victim of identity theft and believe I may be at risk for future impact to my tax account.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Potential Victim</stringValue>
        </value>
    </choices>
    <choices>
        <name>Separated</name>
        <choiceText>Separated</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Separated</stringValue>
        </value>
    </choices>
    <choices>
        <name>Single</name>
        <choiceText>Single</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Single</stringValue>
        </value>
    </choices>
    <choices>
        <name>SocialSecurityCard</name>
        <choiceText>Social Security Card</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Social Security Card</stringValue>
        </value>
    </choices>
    <choices>
        <name>StateId</name>
        <choiceText>State Id (non-driver Identification)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>State Id</stringValue>
        </value>
    </choices>
    <choices>
        <name>TaxFraud</name>
        <choiceText>Tax Evasion/Fraud</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tax Fraud</stringValue>
        </value>
    </choices>
    <choices>
        <description>I am a victim of identity theft and I believe the incident is affecting my tax records.</description>
        <name>Victim_Affecting</name>
        <choiceText>&lt;b&gt;I am a victim&lt;/b&gt; of identity theft and I believe the incident &lt;b&gt;is affecting&lt;/b&gt; my tax records.&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Victim and Affecting Tax Records</stringValue>
        </value>
    </choices>
    <choices>
        <description>I am a victim of identity theft and believe I may be at risk for future impact to my tax account</description>
        <name>Victim_FutureImpactRisk</name>
        <choiceText>&lt;b&gt;I am a victim&lt;/b&gt; of identity theft and believe I may be at risk for &lt;b&gt;&lt;u&gt;future impact&lt;/u&gt;&lt;/b&gt; to my tax account.&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Victim and Future Impact Risk</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Text</name>
        <choiceText>Yes, I have more years to report.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Failure_to_File_Allegation</name>
        <label>Failure to File Allegation</label>
        <locationX>1113</locationX>
        <locationY>3975</locationY>
        <defaultConnector>
            <targetReference>Failure_to_Withhold_Allegation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checked1_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Failure_to_File</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Allegation_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Failure_to_Pay_Allegation</name>
        <label>Failure to Pay Allegation</label>
        <locationX>1107</locationX>
        <locationY>2879</locationY>
        <defaultConnector>
            <targetReference>Unreported_Income_Allegation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checked1_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Failure_to_Pay_Tax</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Allegation_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Failure_to_Withhold_Allegation</name>
        <label>Failure to Withhold Allegation</label>
        <locationX>1113</locationX>
        <locationY>4189</locationY>
        <defaultConnector>
            <targetReference>Wagering_Allegation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checked1_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Failure_to_Withhold_Tax</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Allegation_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>False_Altered_Docs_Allegation</name>
        <label>False Altered Docs Allegation</label>
        <locationX>1115</locationX>
        <locationY>2652</locationY>
        <defaultConnector>
            <targetReference>Failure_to_Pay_Allegation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checked1_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>False_Altered_Documents</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Allegation_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>False_Deduction_Allegation</name>
        <label>False Deduction Allegation</label>
        <locationX>1117</locationX>
        <locationY>1449</locationY>
        <defaultConnector>
            <targetReference>Multiple_Filing_Allegation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checked1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>False_Deductions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Allegation_0</targetReference>
            </connector>
            <label>Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>False_Exemption_Allegation</name>
        <label>False Exemption Allegation</label>
        <locationX>1117</locationX>
        <locationY>1234</locationY>
        <defaultConnector>
            <targetReference>False_Deduction_Allegation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checked1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>False_Exemption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Allegation</targetReference>
            </connector>
            <label>Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_unreported_income</name>
        <label>Is there unreported income?</label>
        <locationX>1110</locationX>
        <locationY>5009</locationY>
        <defaultConnector>
            <targetReference>FinalQuestionsScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_unreported_income_is_reported</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Unreported_Income</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unreported_Income_Screen</targetReference>
            </connector>
            <label>Yes, unreported income is reported</label>
        </rules>
    </decisions>
    <decisions>
        <name>Kickback_Allegation</name>
        <label>Kickback Allegation</label>
        <locationX>1127</locationX>
        <locationY>2402</locationY>
        <defaultConnector>
            <targetReference>False_Altered_Docs_Allegation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checked1_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Kickback</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Allegation_0_0_0_0_0</targetReference>
            </connector>
            <label>Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>More_income_to_report</name>
        <label>More income to report?</label>
        <locationX>1402</locationX>
        <locationY>5235</locationY>
        <defaultConnector>
            <targetReference>FinalQuestionsScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_more_to_add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_need_to_add_more_unreported_income</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unreported_Income_Screen</targetReference>
            </connector>
            <label>Yes more to add</label>
        </rules>
    </decisions>
    <decisions>
        <name>Motor_Vehicle_Allegation</name>
        <label>Motor Vehicle Allegation</label>
        <locationX>1110</locationX>
        <locationY>4577</locationY>
        <defaultConnector>
            <targetReference>Other_Allegation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checked1_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Motor_Vehicle</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Allegation_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Multiple_Filing_Allegation</name>
        <label>Multiple Filing Allegation</label>
        <locationX>1119</locationX>
        <locationY>1654</locationY>
        <defaultConnector>
            <targetReference>Organized_Crime_Allegation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checked1_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Multiple_Filing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Allegation_0_0</targetReference>
            </connector>
            <label>Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Narcotics_Income_Allegation</name>
        <label>Narcotics Income Allegation</label>
        <locationX>1122</locationX>
        <locationY>3374</locationY>
        <defaultConnector>
            <targetReference>Public_Corruption_Allegation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checked1_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Narcotics_Income</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Allegation_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Organized_Crime_Allegation</name>
        <label>Organized Crime Allegation</label>
        <locationX>1133</locationX>
        <locationY>1913</locationY>
        <defaultConnector>
            <targetReference>Unsubstantiated_Income_Allegation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checked1_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Organized_Crime</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Allegation_0_0_0</targetReference>
            </connector>
            <label>Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_Allegation</name>
        <label>Other Allegation</label>
        <locationX>1109</locationX>
        <locationY>4782</locationY>
        <defaultConnector>
            <targetReference>Is_there_unreported_income</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checked1_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Other</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Allegation_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Public_Corruption_Allegation</name>
        <label>Public Corruption Allegation</label>
        <locationX>1117</locationX>
        <locationY>3739</locationY>
        <defaultConnector>
            <targetReference>Failure_to_File_Allegation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checked1_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Public_Political_Corruption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Allegation_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unreported_Income_Allegation</name>
        <label>Unreported Income Allegation</label>
        <locationX>1107</locationX>
        <locationY>3082</locationY>
        <defaultConnector>
            <targetReference>Narcotics_Income_Allegation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checked1_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Unreported_Income</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Allegation_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unsubstantiated_Income_Allegation</name>
        <label>Unsubstantiated Income Allegation</label>
        <locationX>1127</locationX>
        <locationY>2152</locationY>
        <defaultConnector>
            <targetReference>Kickback_Allegation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checked1_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Unsubstantiated_Income</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Allegation_0_0_0_0</targetReference>
            </connector>
            <label>Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Wagering_Allegation</name>
        <label>Wagering Allegation</label>
        <locationX>1110</locationX>
        <locationY>4395</locationY>
        <defaultConnector>
            <targetReference>Motor_Vehicle_Allegation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checked1_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Wagering_Gambling</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Allegation_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_being_reported</name>
        <label>What is being reported?</label>
        <locationX>984</locationX>
        <locationY>446</locationY>
        <defaultConnector>
            <targetReference>Business_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Business Report</defaultConnectorLabel>
        <rules>
            <name>Identity_Theft_Report</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_do_you_need_to_report</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>IdentityTheft</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Indentity_Theft_Screen</targetReference>
            </connector>
            <label>Identity Theft Report</label>
        </rules>
        <rules>
            <name>Individual_Report</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Individual_or_Business</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Individual</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>What_do_you_need_to_report</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TaxFraud</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tax_Payer_Information</targetReference>
            </connector>
            <label>Individual Report</label>
        </rules>
    </decisions>
    <formulas>
        <name>formula_LastFourSSN</name>
        <dataType>String</dataType>
        <expression>right({!SSN},4)</expression>
    </formulas>
    <formulas>
        <name>formula_ReportedBy</name>
        <dataType>String</dataType>
        <expression>if({!I_wish_to_file_anonymously}=TRUE,&quot;Anonymously&quot;,{!ReporterName.firstName}&amp;&quot; &quot;&amp;{!ReporterName.lastName})</expression>
    </formulas>
    <interviewLabel>Report Fraud {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Report Fraud</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Allegation</name>
        <label>Create Allegation</label>
        <locationX>1319</locationX>
        <locationY>1234</locationY>
        <connector>
            <targetReference>False_Deduction_Allegation</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Referral_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Allegation__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary__c</field>
            <value>
                <elementReference>False_Exemption_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>False Exemption</stringValue>
            </value>
        </inputAssignments>
        <object>Allegation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Allegation_0</name>
        <label>Create Allegation</label>
        <locationX>855</locationX>
        <locationY>1451</locationY>
        <connector>
            <targetReference>Multiple_Filing_Allegation</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Referral_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Allegation__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary__c</field>
            <value>
                <elementReference>False_Deductions_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>False Deductions</stringValue>
            </value>
        </inputAssignments>
        <object>Allegation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Allegation_0_0</name>
        <label>Create Allegation</label>
        <locationX>1336</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>Organized_Crime_Allegation</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Referral_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Allegation__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary__c</field>
            <value>
                <elementReference>Multiple_Filings_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Multiple Filing</stringValue>
            </value>
        </inputAssignments>
        <object>Allegation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Allegation_0_0_0</name>
        <label>Create Allegation</label>
        <locationX>877</locationX>
        <locationY>1912</locationY>
        <connector>
            <targetReference>Unsubstantiated_Income_Allegation</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Referral_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Allegation__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary__c</field>
            <value>
                <elementReference>Organized_Crime_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Organized Crime</stringValue>
            </value>
        </inputAssignments>
        <object>Allegation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Allegation_0_0_0_0</name>
        <label>Create Allegation</label>
        <locationX>1341</locationX>
        <locationY>2155</locationY>
        <connector>
            <targetReference>Kickback_Allegation</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Referral_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Allegation__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary__c</field>
            <value>
                <elementReference>Unsubstantiated_Income_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Unsubstantiated Income</stringValue>
            </value>
        </inputAssignments>
        <object>Allegation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Allegation_0_0_0_0_0</name>
        <label>Create Allegation</label>
        <locationX>894</locationX>
        <locationY>2418</locationY>
        <connector>
            <targetReference>False_Altered_Docs_Allegation</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Referral_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Allegation__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary__c</field>
            <value>
                <elementReference>Kickback_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Kickback</stringValue>
            </value>
        </inputAssignments>
        <object>Allegation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Allegation_0_0_0_0_0_0</name>
        <label>Create Allegation</label>
        <locationX>1368</locationX>
        <locationY>2651</locationY>
        <connector>
            <targetReference>Failure_to_Pay_Allegation</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Referral_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Allegation__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary__c</field>
            <value>
                <elementReference>False_Altered_Documents_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>False/Altered Documents</stringValue>
            </value>
        </inputAssignments>
        <object>Allegation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Allegation_0_0_0_0_0_0_0</name>
        <label>Create Allegation</label>
        <locationX>900</locationX>
        <locationY>2890</locationY>
        <connector>
            <targetReference>Unreported_Income_Allegation</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Referral_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Allegation__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary__c</field>
            <value>
                <elementReference>Failure_to_Pay_Tax_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Failure to Pay Tax</stringValue>
            </value>
        </inputAssignments>
        <object>Allegation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Allegation_0_0_0_0_0_0_0_0</name>
        <label>Create Allegation</label>
        <locationX>1376</locationX>
        <locationY>3074</locationY>
        <connector>
            <targetReference>Narcotics_Income_Allegation</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Referral_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Allegation__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary__c</field>
            <value>
                <elementReference>Unreported_Income_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Unreported Income</stringValue>
            </value>
        </inputAssignments>
        <object>Allegation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Allegation_0_0_0_0_0_0_0_0_0</name>
        <label>Create Allegation</label>
        <locationX>849</locationX>
        <locationY>3381</locationY>
        <connector>
            <targetReference>Public_Corruption_Allegation</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Referral_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Allegation__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary__c</field>
            <value>
                <elementReference>Narcotics_Income_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Narcotics Income</stringValue>
            </value>
        </inputAssignments>
        <object>Allegation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Allegation_0_0_0_0_0_0_0_0_0_0</name>
        <label>Create Allegation</label>
        <locationX>1330</locationX>
        <locationY>3756</locationY>
        <connector>
            <targetReference>Failure_to_File_Allegation</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Referral_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Allegation__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary__c</field>
            <value>
                <elementReference>Public_Political_Corruption_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Public/Political Corruption</stringValue>
            </value>
        </inputAssignments>
        <object>Allegation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Allegation_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Create Allegation</label>
        <locationX>910</locationX>
        <locationY>3977</locationY>
        <connector>
            <targetReference>Failure_to_Withhold_Allegation</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Referral_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Allegation__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary__c</field>
            <value>
                <elementReference>Failure_to_File_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Failure to File Return</stringValue>
            </value>
        </inputAssignments>
        <object>Allegation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Allegation_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Create Allegation</label>
        <locationX>1345</locationX>
        <locationY>4186</locationY>
        <connector>
            <targetReference>Wagering_Allegation</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Referral_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Allegation__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary__c</field>
            <value>
                <elementReference>Failure_to_Withhold_Tax_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Failure to Withhold Tax</stringValue>
            </value>
        </inputAssignments>
        <object>Allegation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Allegation_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Create Allegation</label>
        <locationX>931</locationX>
        <locationY>4395</locationY>
        <connector>
            <targetReference>Motor_Vehicle_Allegation</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Referral_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Allegation__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary__c</field>
            <value>
                <elementReference>Wagering_Gambling_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Wagering/Gambling</stringValue>
            </value>
        </inputAssignments>
        <object>Allegation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Allegation_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Create Allegation</label>
        <locationX>1343</locationX>
        <locationY>4562</locationY>
        <connector>
            <targetReference>Other_Allegation</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Referral_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Allegation__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary__c</field>
            <value>
                <elementReference>Motor_Vehicle_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Motor Vehicle</stringValue>
            </value>
        </inputAssignments>
        <object>Allegation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Allegation_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Create Allegation</label>
        <locationX>920</locationX>
        <locationY>4788</locationY>
        <connector>
            <targetReference>Is_there_unreported_income</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Referral_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Allegation__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary__c</field>
            <value>
                <elementReference>Other_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <object>Allegation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Business_Account</name>
        <label>Create Business Account</label>
        <locationX>1253</locationX>
        <locationY>821</locationY>
        <connector>
            <targetReference>Assign_Account_ID_0</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>BusinessAddress.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>BusinessAddress.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>BusinessAddress.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>BusinessAddress.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Business_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124x000001InTYAA0</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>718</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>TaxpayerSignatureScreen</targetReference>
        </connector>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>FilingAddress.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>var_SelectedContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Please_Check_One_of_the_following</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Tax_Return_Filed_Year__c</field>
            <value>
                <elementReference>Last_Tax_Return_Filed_year</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>var_CaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>FilingAddress.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>FilingAddress.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type__c</field>
            <value>
                <elementReference>Please_Check_One_of_the_following</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Identity Theft Affidavit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Impact__c</field>
            <value>
                <elementReference>Provide_a_short_explanation_of_the_tax_impact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Year_s_impacted__c</field>
            <value>
                <elementReference>Tax_Year_s_impacted_and_or_date_the_incident_occured_if_applicable_or_known</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>IdentityTheft</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip__c</field>
            <value>
                <elementReference>FilingAddress.postalCode</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Person_Account</name>
        <label>Create Person Account</label>
        <locationX>992</locationX>
        <locationY>829</locationY>
        <connector>
            <targetReference>Assign_Account_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>TaxPayerName.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>TaxPayerName.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_4_digits_of_SSN__pc</field>
            <value>
                <elementReference>formula_LastFourSSN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonBirthdate</field>
            <value>
                <elementReference>DOB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCity</field>
            <value>
                <elementReference>TaxpayerAddress.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingPostalCode</field>
            <value>
                <elementReference>TaxpayerAddress.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingState</field>
            <value>
                <elementReference>TaxpayerAddress.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingStreet</field>
            <value>
                <elementReference>TaxpayerAddress.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124x000001InTXAA0</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Referral_Case</name>
        <label>Create Referral Case</label>
        <locationX>1121</locationX>
        <locationY>1099</locationY>
        <connector>
            <targetReference>False_Exemption_Allegation</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>var_AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Failure_to_File__c</field>
            <value>
                <elementReference>Failure_to_File</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Failure_to_Pay_Tax__c</field>
            <value>
                <elementReference>Failure_to_Pay_Tax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Failure_to_Withhold_Tax__c</field>
            <value>
                <elementReference>Failure_to_Withhold_Tax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>False_Altered_Documents__c</field>
            <value>
                <elementReference>False_Altered_Documents</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>False_Deductions__c</field>
            <value>
                <elementReference>False_Exemption</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>False_Exemption__c</field>
            <value>
                <elementReference>False_Exemption</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kickback__c</field>
            <value>
                <elementReference>Kickback</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motor_Vehicle__c</field>
            <value>
                <elementReference>Motor_Vehicle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiple_Filing__c</field>
            <value>
                <elementReference>Multiple_Filing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Narcotics_Income__c</field>
            <value>
                <elementReference>Narcotics_Income</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organized_Crime__c</field>
            <value>
                <elementReference>Organized_Crime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other__c</field>
            <value>
                <elementReference>Other</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Public_Political_Corruption__c</field>
            <value>
                <elementReference>Public_Political_Corruption</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>var_CaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Tax Evasion/Fraud Information Referral</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Fraud Complaint</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unreported_Income__c</field>
            <value>
                <elementReference>Unreported_Income</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unsubstantiated_Income__c</field>
            <value>
                <elementReference>Unsubstantiated_Income</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wagering_Gambling__c</field>
            <value>
                <elementReference>Wagering_Gambling</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Unreported_Income</name>
        <label>Create Unreported Income</label>
        <locationX>1117</locationX>
        <locationY>5425</locationY>
        <connector>
            <targetReference>More_income_to_report</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Referral_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Year__c</field>
            <value>
                <elementReference>Tax_Year</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unreported_Amount__c</field>
            <value>
                <elementReference>Unreported_Amount</elementReference>
            </value>
        </inputAssignments>
        <object>Unreported_Income__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Details</name>
        <label>Get Case Details</label>
        <locationX>1773</locationX>
        <locationY>4879</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Referral_Case</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>var_CaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Record_Type_Id</name>
        <label>Get Case Record Type Id</label>
        <locationX>992</locationX>
        <locationY>296</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_is_being_reported</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>var_CaseRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Details</name>
        <label>Get Contact Details</label>
        <locationX>720</locationX>
        <locationY>687</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tax_Payer_Information_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_SelectedContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Details</name>
        <label>Update Case Details</label>
        <locationX>1574</locationX>
        <locationY>4953</locationY>
        <connector>
            <targetReference>Get_Case_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Referral_Case</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Are_books_records_available__c</field>
            <value>
                <elementReference>Are_books_records_available</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Banks_Financial_Institutions__c</field>
            <value>
                <elementReference>Banks_Financial_Institutions_used_by_the_taxpayer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_you_consider_the_taxpayer_dangerous__c</field>
            <value>
                <elementReference>Do_you_consider_the_taxpayer_dangerous</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_did_you_learn_about_the_information__c</field>
            <value>
                <elementReference>Please_best_describe_how_you_learned_and_or_obtained_the_information_in_this_rep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reported_By__c</field>
            <value>
                <elementReference>formula_ReportedBy</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>721</locationX>
        <locationY>955</locationY>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_SelectedContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>TaxpayerEmailAddress.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>TaxpayerName1.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>TaxpayerName1.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_4_digits_of_SSN__c</field>
            <value>
                <elementReference>SSN_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>TaxpayerAddress_0.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>TaxpayerAddress_0.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>TaxpayerAddress_0.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>TaxpayerAddress_0.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>TaxpayerPhoneNumber.value</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Allegations</name>
        <label>Allegations</label>
        <locationX>1123</locationX>
        <locationY>972</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Referral_Case</targetReference>
        </connector>
        <fields>
            <name>DisplayText_Allegations</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Select the allegations that apply to this report.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>False_Exemption</name>
            <dataType>Boolean</dataType>
            <fieldText>False Exemption</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>False_Exemption_Comments</name>
            <fieldText>False Exemption Comments:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Briefly describe the facts of the alleged violation - Who/What/Where/When/How&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>False_Exemption</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>False_Deductions</name>
            <dataType>Boolean</dataType>
            <fieldText>False Deductions</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>False_Deductions_Comment</name>
            <fieldText>False Deductions Comment:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Briefly describe the facts of the alleged violation - Who/What/Where/When/How&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>False_Deductions</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Multiple_Filing</name>
            <dataType>Boolean</dataType>
            <fieldText>Multiple Filing</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Multiple_Filings_Comment</name>
            <fieldText>Multiple Filings Comment:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Briefly describe the facts of the alleged violation - Who/What/Where/When/How&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Multiple_Filing</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Organized_Crime</name>
            <dataType>Boolean</dataType>
            <fieldText>Organized Crime</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Organized_Crime_Comment</name>
            <fieldText>Organized Crime Comment:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Briefly describe the facts of the alleged violation - Who/What/Where/When/How&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Organized_Crime</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Unsubstantiated_Income</name>
            <dataType>Boolean</dataType>
            <fieldText>Unsubstantiated Income</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Unsubstantiated_Income_Comment</name>
            <fieldText>Unsubstantiated Income Comment:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Briefly describe the facts of the alleged violation - Who/What/Where/When/How&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Unsubstantiated_Income</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Kickback</name>
            <dataType>Boolean</dataType>
            <fieldText>Kickback</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Kickback_Comment</name>
            <fieldText>Kickback Comment:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Briefly describe the facts of the alleged violation - Who/What/Where/When/How&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Kickback</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>False_Altered_Documents</name>
            <dataType>Boolean</dataType>
            <fieldText>False/Altered Documents:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>False_Altered_Documents_Comment</name>
            <fieldText>False/Altered Documents Comment:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Briefly describe the facts of the alleged violation - Who/What/Where/When/How&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>False_Altered_Documents</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Failure_to_Pay_Tax</name>
            <dataType>Boolean</dataType>
            <fieldText>Failure to Pay Tax</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Failure_to_Pay_Tax_Comment</name>
            <fieldText>Failure to Pay Tax Comment:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Briefly describe the facts of the alleged violation - Who/What/Where/When/How&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Failure_to_Pay_Tax</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Unreported_Income</name>
            <dataType>Boolean</dataType>
            <fieldText>Unreported Income</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Unreported_Income_Comment</name>
            <fieldText>Unreported Income Comment:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Briefly describe the facts of the alleged violation - Who/What/Where/When/How&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Unreported_Income</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Narcotics_Income</name>
            <dataType>Boolean</dataType>
            <fieldText>Narcotics Income</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Narcotics_Income_Comment</name>
            <fieldText>Narcotics Income Comment:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Briefly describe the facts of the alleged violation - Who/What/Where/When/How&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Narcotics_Income</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Public_Political_Corruption</name>
            <dataType>Boolean</dataType>
            <fieldText>Public/Political Corruption</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Public_Political_Corruption_Comment</name>
            <fieldText>Public/Political Corruption Comment:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Briefly describe the facts of the alleged violation - Who/What/Where/When/How&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Public_Political_Corruption</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Failure_to_File</name>
            <dataType>Boolean</dataType>
            <fieldText>Failure to File</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Failure_to_File_Comment</name>
            <fieldText>Failure to File Comment:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Briefly describe the facts of the alleged violation - Who/What/Where/When/How&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Failure_to_File</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Failure_to_Withhold_Tax</name>
            <dataType>Boolean</dataType>
            <fieldText>Failure to Withhold Tax</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Failure_to_Withhold_Tax_Comment</name>
            <fieldText>Failure to Withhold Tax Comment:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Briefly describe the facts of the alleged violation - Who/What/Where/When/How&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Failure_to_Withhold_Tax</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Wagering_Gambling</name>
            <dataType>Boolean</dataType>
            <fieldText>Wagering/Gambling</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Wagering_Gambling_Comment</name>
            <fieldText>Wagering/Gambling Comment:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Briefly describe the facts of the alleged violation - Who/What/Where/When/How&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Wagering_Gambling</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Motor_Vehicle</name>
            <dataType>Boolean</dataType>
            <fieldText>Motor Vehicle</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Motor_Vehicle_Comment</name>
            <fieldText>Motor Vehicle Comment:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Briefly describe the facts of the alleged violation - Who/What/Where/When/How&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Motor_Vehicle</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Other</name>
            <dataType>Boolean</dataType>
            <fieldText>Other</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Other_Comments</name>
            <fieldText>Other Comments:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Briefly describe the facts of the alleged violation - Who/What/Where/When/How&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Other</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Briefly describe the facts of the alleged violation - Who/What/Where/When/How&lt;/span&gt;&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Business_Information</name>
        <label>Business Information</label>
        <locationX>1254</locationX>
        <locationY>679</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Business_Account</targetReference>
        </connector>
        <fields>
            <name>Business_Name</name>
            <dataType>String</dataType>
            <fieldText>Business Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>BusinessAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Business Address:</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>EIN</name>
            <dataType>String</dataType>
            <fieldText>Employer Identification Number (EIN)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Principal_Business_Activity</name>
            <dataType>String</dataType>
            <fieldText>Principal Business Activity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Approximate_Year_of_Business</name>
            <dataType>String</dataType>
            <fieldText>Approximate Year of Business:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>1782</locationX>
        <locationY>5009</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Change_Owner</targetReference>
        </connector>
        <fields>
            <name>ConfirmationMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Your case number is &lt;/b&gt;&lt;b style=&quot;font-size: 14px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!var_CaseNumber}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Click &lt;u&gt;Next&lt;/u&gt; to return to Home Screen.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FinalQuestionsScreen</name>
        <label>FinalQuestionsScreen</label>
        <locationX>1403</locationX>
        <locationY>5013</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Case_Details</targetReference>
        </connector>
        <fields>
            <name>Are_books_records_available</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>ImNotSure</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Are books/records available?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Do_you_have_any_supporting_documents_to_upload</name>
            <dataType>Boolean</dataType>
            <fieldText>Do you have any supporting documents to upload?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DocUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload files:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>You may upload up to 5 files.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Create_Referral_Case</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_have_any_supporting_documents_to_upload</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Do_you_consider_the_taxpayer_dangerous</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>ImNotSure</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Do you consider the taxpayer dangerous?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Banks_Financial_Institutions_used_by_the_taxpayer</name>
            <fieldText>Banks, Financial Institutions used by the taxpayer:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;include name and address of each known institution.&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Please_best_describe_how_you_learned_and_or_obtained_the_information_in_this_rep</name>
            <fieldText>Please best describe how you learned and/or obtained the information in this report.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>I_wish_to_file_anonymously</name>
            <dataType>Boolean</dataType>
            <fieldText>I wish to file anonymously</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ReporterName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Your Name:</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>I_wish_to_file_anonymously</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ReporterAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Your Address:</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>I_wish_to_file_anonymously</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ReporterPhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Your Phone</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>I_wish_to_file_anonymously</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ReportedEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Your Email:</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>I_wish_to_file_anonymously</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Indentity_Theft_Screen</name>
        <label>Indentity Theft Screen</label>
        <locationX>720</locationX>
        <locationY>567</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Contact_Details</targetReference>
        </connector>
        <fields>
            <name>DisplayText1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://al-dor-2021-demo--c.documentforce.com/sfc/servlet.shepherd/version/download/0684x000000IBFJ?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Please complete and submit this form if you are an actual or potential victim of identity theft and would like the Alabama Department of Revenue (ADOR) to mark your account to identify any questionable activity.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>TaxPayer&apos;s Name:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_SelectedContactId</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>var_SelectedContactName</assignToReference>
                <name>recordName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Please_Check_One_of_the_following</name>
            <choiceReferences>Victim_Affecting</choiceReferences>
            <choiceReferences>Victim_FutureImpactRisk</choiceReferences>
            <choiceReferences>PotentialVictim</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please Check One of the following:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>&lt;p&gt;You should check &quot;potential victim&quot; if you have not experienced identity theft but are at risk due to a lost/stolen purse or wallet, questionable credit card or credit report activity, etc.&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Provide_a_short_explanation_of_the_tax_impact</name>
            <fieldText>Provide a short explanation of the tax impact.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Please_Check_One_of_the_following</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Victim_Affecting</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Tax_Year_s_impacted_and_or_date_the_incident_occured_if_applicable_or_known</name>
            <dataType>String</dataType>
            <fieldText>Tax Year(s) impacted and/or date the incident occured (if applicable or known)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Tax_Return_Filed_year</name>
            <dataType>String</dataType>
            <fieldText>Last Tax Return Filed (year).</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Enter &quot;NRF&quot; if not required to file.&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Tax_Payer_Information</name>
        <label>Tax Payer Information</label>
        <locationX>994</locationX>
        <locationY>671</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Person_Account</targetReference>
        </connector>
        <fields>
            <name>TaxPayerName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldsToDisplayList</name>
                <value>
                    <stringValue>firstName,middleName,lastName</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>TaxpayerAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Taxpayer&apos;s Address:</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SSN</name>
            <dataType>String</dataType>
            <fieldText>Social Security Number (SSN)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Occupation</name>
            <dataType>String</dataType>
            <fieldText>Occupation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DOB</name>
            <dataType>Date</dataType>
            <fieldText>Date of Birth</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Marital_Status</name>
            <choiceReferences>Married</choiceReferences>
            <choiceReferences>Divorced</choiceReferences>
            <choiceReferences>Single</choiceReferences>
            <choiceReferences>Separated</choiceReferences>
            <choiceReferences>HeadofHousehold</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Marital Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Name_of_Spouse</name>
            <dataType>String</dataType>
            <fieldText>Name of Spouse:</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;if applicable&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Tax_Payer_Information_0</name>
        <label>Tax Payer Information</label>
        <locationX>720</locationX>
        <locationY>806</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <fields>
            <name>TaxpayerName1</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldsToDisplayList</name>
                <value>
                    <stringValue>firstName,middleName,lastName</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>Get_Contact_Details.FirstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>Get_Contact_Details.LastName</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>TaxpayerAddress_0</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Taxpayer&apos;s Current Mailing Address:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>Get_Contact_Details.MailingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>Get_Contact_Details.MailingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>Get_Contact_Details.MailingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>Get_Contact_Details.MailingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Get_Contact_Details.MailingStreet</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SSN_0</name>
            <dataType>String</dataType>
            <fieldText>Provide the last 4 digits of your Social Security Number (SSN)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FilingAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Address on last tax return filed:</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>TaxpayerPhoneNumber</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Primary Phone Number:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Contact_Details.MobilePhone</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>TaxpayerEmailAddress</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Email Address:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Contact_Details.Email</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TaxpayerSignatureScreen</name>
        <label>TaxpayerSignatureScreen</label>
        <locationX>461</locationX>
        <locationY>1413</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Change_Owner_0</targetReference>
        </connector>
        <fields>
            <name>WhatDocumentSubmitting</name>
            <choiceReferences>DriversLicense</choiceReferences>
            <choiceReferences>StateId</choiceReferences>
            <choiceReferences>SocialSecurityCard</choiceReferences>
            <choiceReferences>Passport</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please submit this completed form and a photocopy of at least one of the following documents to verify your identity. (Check the box next to the document you are submitting.)</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DocumentUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload the document:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Create_Case</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>WhatDocumentSubmitting</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Under_penalty_of_perjury_I_declare_that_to_the_best_of_my_knowledge_and_belief_t</name>
            <dataType>Boolean</dataType>
            <fieldText>Under penalty of perjury, I declare that, to the best of my knowledge and belief, the information entered in this form is true, correct, complete, and made in good faith</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TaxPayerSignature</name>
            <extensionName>c:PSCaptureSignature</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Create_Case</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Date_Time_Signed</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Date/Time Signed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Type_of_Report</name>
        <label>Type of Report</label>
        <locationX>990</locationX>
        <locationY>174</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Case_Record_Type_Id</targetReference>
        </connector>
        <fields>
            <name>DisplayText_Into_Instructions</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;please provide the following information:&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_do_you_need_to_report</name>
            <choiceReferences>IdentityTheft</choiceReferences>
            <choiceReferences>TaxFraud</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>TaxFraud</defaultSelectedChoiceReference>
            <fieldText>What do you need to report?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Individual_or_Business</name>
            <choiceReferences>Individual</choiceReferences>
            <choiceReferences>Business</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Individual or Business:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>What_do_you_need_to_report</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>TaxFraud</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Unreported_Income_Screen</name>
        <label>Unreported Income Screen</label>
        <locationX>1118</locationX>
        <locationY>5229</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Unreported_Income</targetReference>
        </connector>
        <fields>
            <name>DisplayText_UnreportedIncomeInstructions</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Unreported Income and Tax Years (fill in tax year(s) and dollar amount(s), if know; e.g., TY2005 $10,000)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tax_Year</name>
            <dataType>String</dataType>
            <fieldText>Tax Year</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Unreported_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Unreported Amount ($)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Do_you_need_to_add_more_unreported_income</name>
            <choiceReferences>Yes_Text</choiceReferences>
            <choiceReferences>No_Text</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you need to add more unreported income?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>864</locationX>
        <locationY>33</locationY>
        <connector>
            <targetReference>Type_of_Report</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>collection_AllegationDetails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collection_AllegationType</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordCollection_Allegations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Allegation__c</objectType>
    </variables>
    <variables>
        <name>SingleRecord_Allegation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Allegation__c</objectType>
    </variables>
    <variables>
        <name>var_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CaseRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SelectedContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_SelectedContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SubType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
